table {
  width:300px;
  padding: 3PX;
  border-color: blue;
  

}

#quest1:hover{
 background-color: lightseagreen;
}

a:hover{

  cursor:pointer;
}

i{
  color:blue;
  font-size:smaller;
}
button {
background-color: blue;
border-radius: 3px;
color: white;

}
p:hover {
  color: red;
  
}

.dropdown-submenu {
    position: relative;
  }
  
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    border-color: blue;
  }

  #displayStyle {
    width: 450px;
    font-family: sans-serif;
    text-align: justify;
    justify-content: center;
    color: green;
}

#demo2 {
    height: 300px;
    overflow: scroll;
}

tr{
  background-color: lightblue;
}
